@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0');

.material-symbols-outlined {
	color: #999;
	font-size: 18px;
}

button >.material-symbols-outlined:has(+.label),
.button >.material-symbols-outlined:has(+.label) {
	margin-right: 8px;
}

button >.material-symbols-outlined:not(:has(+.label)),
.button >.material-symbols-outlined:not(:has(+.label)) {
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
}

button >.material-symbols-outlined,
.button >.material-symbols-outlined {
	color: inherit;
}

.dropdown >.menu >li >a .material-symbols-outlined {
	margin-right: 12px;
}

.login >.material-symbols-outlined::before {
	content:'login';
}

.logout >.material-symbols-outlined::before {
	content:'logout';
}

.profile >.material-symbols-outlined::before {
	content:'person';
}

.users >.material-symbols-outlined::before {
	content:'group';
}

.poster >.material-symbols-outlined::before {
	content: 'movie';
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	font-size: 48px;
}

.status.submitted >.material-symbols-outlined::before {
	content: 'pending_actions';
}

.status.accepted >.material-symbols-outlined::before {
	content: 'thumb_up';
}

.status.rejected >.material-symbols-outlined::before {
	content: 'thumb_down';
}

.status >.material-symbols-outlined {
	margin-right: 4px;
}

.accept >.material-symbols-outlined::before {
	content: 'check';
}

.reject >.material-symbols-outlined::before {
	content: 'close';
}

.notfound >.material-symbols-outlined::before {
	content: 'search';
	margin-right: 12px;
	font-size: 48px;
}

.likes >.material-symbols-outlined::before {
	content:'thumb_up';
}

.dislikes >.material-symbols-outlined::before {
	content:'thumb_down';
}

.usefulness >.material-symbols-outlined::before {
	content:'lightbulb';
}

.agreement >.material-symbols-outlined::before {
	content:'thumb_up';
}

.answer_compose >.material-symbols-outlined::before {
	content:'comment';
}

.answer >.material-symbols-outlined {
	position: absolute;
	top: 8px;
	left: 12px;
}

.answer.selected >.material-symbols-outlined::before {
	content:'check_circle';
	color: green;
}

.spoiler_show >.material-symbols-outlined::before {
	content:'visibility';
}

.spoil_level >.material-symbols-outlined::before {
	content:'speed';
}

.kebab >.material-symbols-outlined::before {
	content:'more_vert';
}

.edit >.material-symbols-outlined::before {
	content:'edit';
}

.delete >.material-symbols-outlined::before {
	content:'delete';
}

.report >.material-symbols-outlined::before {
	content:'report';
}

.new_movie >.material-symbols-outlined::before,
.new_post >.material-symbols-outlined::before {
	content:'add';
	font-size: 24px;
}
