@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0');

.material-symbols-outlined {
	color: inherit;
	font-size: 18px;
}

.icon.md-18 {
	font-size: 18px;
}

.icon.md-24 {
	font-size: 24px;
}

.icon.md-36 {
	font-size: 36px;
}

.icon.md-48 {
	font-size: 48px;
}

.icon.margin {
	margin-right: 6px;
}

/* Pulsante con etichetta: aggiungi margine dopo icona */
button:has(>.label) >.icon,
.button:has(>.label) >.icon {
	margin-right: 8px;
}

/* Pulsante senza etichetta: centra icona */
button:not(:has(>.label)) >.icon,
.button:not(:has(>.label)) >.icon {
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
}

/* Icona di dropdown item (elemento di un menu a tendina) */
.dropdown >.menu >li >a .icon {
	margin-right: 12px;
}

/* Icona di overlay (es. stato di approvazione di una scheda) */
.overlay >.icon {
	margin-right: 4px;
}

/* Icona placeholder (es. in sostituzione di poster mancante) */
.icon.placeholder {
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	font-size: 48px;
}

/* Icona risposta selezionata */
.icon.selected_answer {
	position: absolute;
	top: 6px;
	left: 12px;
	color: green;
}
