@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* ==== Proprietà applicate a più elementi ================================= */

/* Elementi centrati (margine laterale automatico) */
.pane,
.dialog,
.wrapper {
	margin: 0 auto;
}

/* Elementi "elevati" (con ombra) */
.elevated,
button.fab,
.tooltip,
.dropdown {
	box-shadow: 0 1px 3px rgba(0,0,0,0.15);
}

/* Elementi interattivi (cambio colore su hover) */
button:hover,
.menu li:hover {
	background-color: #CCC3;
}

/* ==== Elementi comuni ==================================================== */

/* Pane: contenitore flessibile, con margini e padding */
.pane {
	position: relative;
	width: 50%;
	min-width: 960px;
	margin-top: 40px;
	border-radius: 12px;
	padding: 15px 30px;
	background-color: #FFFF;
}

.pane >h1 {
	font-size: 1.4rem;
	font-weight: 300;
}

/* Wrapper: contenitore flessibile, senza margini e padding */
.wrapper {
	width: 50%;
	min-width: 960px;
}

/* Dialog: contenitore stretto (a larghezza costante) */
.dialog {
	position: relative;
	width: 440px;
	margin-top: 40px;
	border-radius: 12px;
	padding: 30px;
	background-color: #FFFF;
	gap: 26px;
}

.dialog >h1 {
	margin: 0;
	font-size: 1.8em;
	font-weight: 300;
	text-align: center;
}

.card {
	position: relative;
	margin: 20px 0;
	border: 1px solid #AAA;
	border-radius: 12px;
	padding: 15px;
}

button {
	position: relative;
	display: flex;
	align-items: center;
	height: 40px;
	border: 1px solid #AAA;
	border-radius: 20px;
	padding: 6px 16px;
	font-family: inherit;
	font-size: 0.9rem;
	font-weight: 500;
	letter-spacing: 0.1pt;
	color: inherit;
	background-color: transparent;
}

button:not([disabled]) {
	cursor: pointer;
}

button.text {
	border-width: 0;
	padding: 6px 12px;
}

button.colored {
	color: dodgerblue;
}

button.tonal {
	color: #666;
	background-color: #FFFF;
}

button.filled {
	border-width: 0px;
	background-color: dodgerblue;
	color: white;
}

button.fab {
	position: fixed;
	bottom: 16px;
	right: 16px;
	height: 56px;
	border-radius: 16px;
	padding: 16px;
	background-color: #FFFF;
	color: dodgerblue;
}

button:not(:has(>.label)) {
	width: 40px;
	border-radius: 50%;
}

.tooltip {
	visibility: hidden;
	position: absolute;
	display: flex;
	bottom: 100%;
	left: 0;
	width: max-content;
	border: 1px solid #AAA;
	border-radius: 12px;
	padding: 12px 16px;
	font-size: 0.9rem;
	font-weight: 500;
	color: #666;
	background-color: #FFFF;
	z-index: 100;
	cursor: default;
}

.dropdown {
	visibility: hidden;
	position: absolute;
	top: 0;
	right: 0;
	width: max-content;
	min-width: 110px;
	border: 1px solid #AAA;
	border-radius: 4px;
	padding: 4px 0;
	text-align: left;
	font-size: 0.9rem;
	font-weight: normal;
	color: #666;
	background-color: #FFFF;
	z-index: 100;
	cursor: default;
}

.dropdown >.header {
	padding: 8px 12px;
}

.dropdown >.menu {
	display: revert;
	margin: 0;
}

.dropdown >.menu >li >a {
	padding: 12px;
}

button:hover >.tooltip,
button:hover >.dropdown {
	visibility: visible;
}

.tooltip >.rate {
	margin-left: 8px;
}

/*.tooltip::after {
	content: '';
	position: absolute;
	display: block;
	top: 100%;
	left: 50%;
	translate: -50%;
	width: 100%;
	height: 20%;
	border-color: transparent;
	background-color: transparent;
}*/

label {
	position: relative;
	display: block;
	flex-grow: 1;
}

label >span.label {
	position: absolute;
	top: 0;
	left: 14px;
	translate: 0 -50%;
	font-size: 0.7rem;
	padding: 2px;
	background-color: #FFFF;
}

label >span.label:has(+input:focus),
label >span.label:has(+textarea:focus) {
	color: dodgerblue;
}

label >span.label:has(+input.filled),
label >span.label:has(+textarea.filled) {
	top: 10px;
	background-color: #FFF0;
}

label >input,
label >textarea {
	width: 100%;
	border: 1px solid #AAA;
	border-radius: 4px;
	padding: 16px;
	font-family: inherit;
	font-size: 1rem;
}

label >textarea {
	height: 8em;
	resize: none;
}

label >input:focus,
label >textarea:focus {
	border: 2px solid dodgerblue;
	outline: none;
}

label >input.filled,
label >textarea.filled {
	border-width: 0;
	border-bottom: 1px solid #AAA;
	border-radius: 4px 4px 0 0;
	padding: 24px 16px 8px 16px;
	background-color: #FFF3;
	color: inherit;
}

label >input.filled:focus,
label >textarea.filled:focus {
	border: none;
	border-bottom: 2px solid dodgerblue;
	outline: none;
}

/* Regole per campi contenenti dati non validi */

label >span.supp {
	position: absolute;
	bottom: -4px;
	left: 16px;
	translate: 0 100%;
	font-size: 0.7rem;
	color: red;
}

label >span.material-symbols-outlined {
	position: absolute;
	bottom: 50%;
	right: 16px;
	translate: 0 50%;
	font-size: 24px;
	color: red;
}

label.invalid >span.label {
	color: red;
}

label.invalid >input {
	border-color: red;
	padding-right: 56px;
}
