@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* ==== Proprietà applicate a più elementi ================================= */

/* Elemento "elevato" (con ombra) */
.card,
button.elevated,
button.fab,
.tooltip,
.dropdown {
	box-shadow: 0 1px 3px rgba(0,0,0,0.15);
}

/* Elemento interattivo (cambio colore su hover) */
button:hover,
.menu li:hover {
	background-color: #CCC3;
}

/* ==== Elementi comuni ==================================================== */

.card {
	position: relative;
	margin: 20px 0;
	border: 1px solid #AAA;
	border-radius: 12px;
	padding: 15px;
}

button {
	position: relative;
	display: flex;
	align-items: center;
	height: 40px;
	border: 1px solid #AAA;
	border-radius: 20px;
	padding: 6px 12px;
	font-family: inherit;
	font-size: 0.9rem;
	font-weight: 500;
	letter-spacing: 0.1pt;
	color: #333;
	background-color: #FFFF;
}

button:not([disabled]) {
	cursor: pointer;
}

button.text {
	border-width: 0;
}

button.colored {
	color: dodgerblue;
}

button.filled {
	border-width: 0px;
	background-color: dodgerblue;
	color: white;
}

button.fab {
	position: fixed;
	bottom: 16px;
	right: 16px;
	height: 56px;
	border-radius: 16px;
	padding: 16px;
	color: dodgerblue;
}

button:not(:has(>.label)) {
	width: 40px;
	border-radius: 50%;
}

.tooltip {
	visibility: hidden;
	position: absolute;
	display: flex;
	bottom: 100%;
	left: 0;
	width: max-content;
	border: 1px solid #AAA;
	border-radius: 12px;
	padding: 12px 16px;
	font-size: 0.9rem;
	font-weight: 500;
	color: #666;
	background-color: #FFFF;
	z-index: 100;
	cursor: default;
}

.dropdown {
	visibility: hidden;
	position: absolute;
	top: 0;
	right: 0;
	width: max-content;
	min-width: 110px;
	border: 1px solid #AAA;
	border-radius: 4px;
	padding: 4px 0;
	text-align: left;
	font-size: 0.9rem;
	font-weight: normal;
	color: #666;
	background-color: #FFFF;
	z-index: 100;
	cursor: default;
}

.dropdown >.header {
	padding: 8px 12px;
}

.dropdown >.menu {
	display: revert;
	margin: 0;
}

.dropdown >.menu >li >a {
	padding: 12px;
}

button:hover >.tooltip,
button:hover >.dropdown {
	visibility: visible;
}

.tooltip >.rate {
	margin-left: 8px;
}

/*.tooltip::after {
	content: '';
	position: absolute;
	display: block;
	top: 100%;
	left: 50%;
	translate: -50%;
	width: 100%;
	height: 20%;
	border-color: transparent;
	background-color: transparent;
}*/
