@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* ==== Proprietà applicate a più elementi ================================= */

/* Elementi centrati (margine laterale automatico) */
.pane,
.dialog,
.wrapper {
	margin: 0 auto;
}

/* Elementi "elevati" (con box shadow) */
.elevated,
.button.fab,
.tooltip.rich,
.popup,
.dropdown {
	box-shadow: 0 1px 3px 0px #0006;
}

/* Elementi interattivi (cambio colore o elevazione su hover) */
.button.text:not(:disabled):hover,
.button.outlined:not(:disabled):hover {
	background-color: #CCC3;
}

.button.tonal:not(:disabled):hover,
.button.filled:not(:disabled):hover {
	box-shadow: 0 1px 3px 0px #0006;
}

.button.elevated:not(:disabled):hover,
.button.fab:not(:disabled):hover {
	box-shadow: 0 1px 3px 1px #0006;
}

.menu li:hover {
	background-color: #CCC3;
}

/* Pannelli a comparsa (attivazione su hover) */
.button:hover >.tooltip,
.button:hover >.popup,
.button:hover >.dropdown {
	visibility: visible;
}

/* Magic (attivazione con focus su elementi interni) */
.popup:has(*:focus) {
	visibility: visible;
}

/* ==== Elementi comuni ==================================================== */

/* Pane: contenitore flessibile, con margini e padding */
.pane {
	position: relative;
	width: 50%;
	min-width: 960px;
	margin-top: 40px;
	margin-bottom: 40px;
	border-radius: 12px;
	padding: 15px 30px;
	background-color: #FFFF;
}

.pane h1 {
	font-size: 1.4rem;
	font-weight: 300;
}

/* Wrapper: contenitore flessibile, senza margini e padding */
.wrapper {
	width: 50%;
	min-width: 960px;
}

/* Dialog: contenitore stretto (a larghezza costante) */
.dialog {
	position: relative;
	width: 440px;
	margin-top: 40px;
	margin-bottom: 40px;
	border-radius: 12px;
	padding: 30px;
	background-color: #FFFF;
	gap: 26px !important;
}

/* Niente margin collapse con flexbox => revert manuale */
.dialog+.dialog {
	margin-top: revert;
	padding: 15px 30px;
}

.dialog >h1 {
	margin: 0;
	font-size: 1.8em;
	font-weight: 300;
	text-align: center;
}

.card {
	position: relative;
	margin: 20px 0;
	border: 1px solid #AAA;
	border-radius: 12px;
	padding: 15px;
}

.overlay {
	position: absolute;
	display: flex;
	align-items: center;
	top: 4%;
	left: 4%;
	border-radius: 4px;
	padding: 2px;
	color: #999;
	font-size: 0.7rem;
	font-weight: 500;
	text-transform: uppercase;
	background-color: white;
}

.overlay.right {
	top: 24px;
	left: revert;
	right: 2px;
}

/* Bottone su anchor: conduce ad altra vista */
a.button {
	text-decoration: none;
}

/* Bottone senza anchor: da definire */
button:not(:disabled) {
	cursor: pointer;
}

/* Bottone di base (outlined) */
.button,
.button.outlined {
	position: relative;
	display: flex;
	align-items: center;
	height: 40px;
	border: 1px solid #AAA;
	border-radius: 20px;
	padding: 6px 16px;
	font-family: inherit;
	font-size: 0.9rem;
	font-weight: 500;
	letter-spacing: 0.1pt;
	color: inherit;
	background-color: transparent;
}

/* Bottone testuale (text) */
.button.text {
	border-width: 0;
	padding: 6px 12px;
}

/* Bottone con fondo opaco (tonal) */
.button.tonal {
	border-width: 0;
	background-color: #F0F0F0;
	color: #666;
}

/* Bottone con fondo colorato (filled) */
.button.filled {
	border-width: 0px;
	background-color: dodgerblue !important;
	color: white;
}

.button.filled.filled-red {
	background-color: red !important;
}

/* Bottone azione primaria (FAB) */
.button.fab {
	position: fixed;
	bottom: 16px;
	right: 16px;
	height: 56px;
	border-radius: 16px;
	padding: 16px;
	background-color: #FFFF;
	color: dodgerblue;
}

/* Bottone senza etichetta (=> tondo, solo icona) */
.button:not(:has(>.label)):not([value]) {
	width: 40px;
	border-radius: 50%;
}

/* Pannelli a comparsa */
.tooltip,
.popup {
	visibility: hidden;
	position: absolute;
	display: flex;
	align-items: center;
	width: max-content;
	font-weight: initial;
	z-index: 100;
	cursor: default;
}

/* Pannello a comparsa, sopra al contenitore */
.tooltip {
	bottom: 120%;
	left: 0;
	border-radius: 4px;
	padding: 8px;
	font-size: 0.8rem;
	color: #FFF;
	background-color: #322F35;
}

.tooltip.rich {
	border: 1px solid #AAA;
	border-radius: 12px;
	padding: 12px 16px;
	font-size: 0.9rem;
	color: #666;
	background-color: #FFFF;
}

.right .tooltip {
	left: revert;
	right: 0;
}

/* Pannello a comparsa, davanti al contenitore */
.popup {
	top: 0;
	left: 0;
	border: 1px solid #AAA;
	border-radius: 30px;
	padding-left: 12px;
	font-size: 0.9rem;
	color: #666;
	background-color: #FFFF;
}

.popup >.rate {
	margin-left: 8px;
	margin-right: 16px;
}

/* Pannello a comparsa, sotto al contenitore */
.dropdown {
	visibility: hidden;
	position: absolute;
	top: 0;
	right: 0;
	width: max-content;
	min-width: 110px;
	border: 1px solid #AAA;
	border-radius: 4px;
	padding: 4px 0;
	text-align: left;
	font-size: 0.9rem;
	font-weight: normal;
	color: #666;
	background-color: #FFFF;
	z-index: 100;
	cursor: default;
}

.dropdown >.header {
	padding: 8px 12px;
}

.dropdown >.menu {
	display: revert;
	margin: 0;
}

.dropdown >.menu >li >a {
	padding: 12px;
}

/* Pannello a comparsa, in fondo allo schermo */
.snackbar {
	position: fixed;
	left: 20px;
	border-radius: 4px;
	padding: 16px;
	color: #FFF;
	background-color: #322F35CC;

	animation:
		200ms 0s forwards slide-in,
		200ms 8s forwards disappear;

	/*animation-name: slide-in, disappear;
	animation-fill-mode: forwards;
	animation-delay: 0s, 8s;
	animation-duration: 200ms;*/
}

@keyframes slide-in {
	0% {
		bottom: 4px;
	}
	50% {
		bottom: 12px;
	}
	100% {
		bottom: 20px;
	}
}

@keyframes disappear {
	0% {
		opacity: 100%;
	}
	50% {
		opacity: 50%;
	}
	100% {
		opacity: 0%;
		visibility: hidden;
	}
}


form #fields,
form .fields {
	gap: 26px;
}

.prompt+label {
	margin-top: 6px;
}

label {
	position: relative;
	display: block;
}

label >span.label {
	position: absolute;
	top: 0;
	left: 14px;
	translate: 0 -50%;
	font-size: 0.7rem;
	padding: 2px;
	background-color: #FFFF;
}

label >span.label:has(+input:focus),
label >span.label:has(+select:focus),
label >span.label:has(+textarea:focus) {
	color: dodgerblue;
}

label >span.label:has(+input.filled),
label >span.label:has(+select.filled),
label >span.label:has(+textarea.filled) {
	top: 10px;
	background-color: #FFF0;
}

label >input,
label >select,
label >textarea {
	width: 100%;
	border: 1px solid #AAA;
	border-radius: 4px;
	padding: 16px;
	background-color: #FFF;
	font-family: inherit;
	font-size: 1rem;
}

label >textarea {
	height: 8em;
	resize: none;
}

label >input:focus,
label >select:focus,
label >textarea:focus {
	border: 2px solid dodgerblue;
	outline: none;
}

label >input.filled,
label >select.filled,
label >textarea.filled {
	border-width: 0;
	border-bottom: 1px solid #AAA;
	border-radius: 4px 4px 0 0;
	padding: 24px 16px 8px 16px;
	background-color: #FFF3;
	color: inherit;
}

label >input.filled:focus,
label >select.filled:focus,
label >textarea.filled:focus {
	border: none;
	border-bottom: 2px solid dodgerblue;
	outline: none;
}

/* Regole per campi contenenti dati non validi */

label:has(>input.invalid),
label:has(>textarea.invalid) {
	margin-bottom: 1.2rem;
}

label >span.supp {
	position: absolute;
	bottom: -4px;
	left: 16px;
	translate: 0 100%;
	font-size: 0.7rem;
	color: red;
}

label >span.icon {
	position: absolute;
	bottom: 50%;
	right: 16px;
	translate: 0 50%;
	font-size: 24px;
	color: red;
}

label >span.label:has(+input.invalid),
label >span.label:has(+textarea.invalid) {
	color: red;
}

label >input.invalid,
label >textarea.invalid {
	border-color: red;
	padding-right: 56px;
}

/* Regole per campi disabilitati */

label >input[disabled] {
	border: 1px solid #CCC9;
	background-color: #CCC2;
}
